* {
  margin: 0;
  padding: 0;
}

.container {
  height: 200vh;
  background-color: cornflowerblue;
}

.wrapper {
  height: 100vh;
  background-color: hotpink;
  position: relative;
}

iframe {
  position: fixed;
  margin-left: 20px;
  bottom: 0;
  display: none;
}